        /*
            # Hace referencia al "id" de la etiqueta
            . Hace referencia al nombre de clase "class" de la etiqueta

        */
        #principal{
            width: 70%;
            height: 400px;
            margin-left: 15%;
            border-style: solid;
            border-width: 2px;
            border-color: gray;
            box-shadow: 3px 3px 5px black;
        }
        #principal img{
            width: 100%;
            height: 100%;
        }
        #secundario{
            margin-top: 20px;
            width: 80%;
            height: 200px;
            margin-left: 10%;
            border-style: solid;
            border-width: 2px;
            border-color: gray;
            box-shadow: 3px 3px 5px black;
        }
        #secundario img{
            height: 100%;
            width: 22%;
            margin-left: 23px;
            opacity: 0.5;
        }

        #secundario img:hover{
            cursor: pointer;
            opacity: 1;
        }
